<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mycss.css') }}">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <title>Captioning Tool</title>
  </head>
  <body>
    <header>
      <div class="container">
        <div id="branding">
          <h1><span class="highlight">Image</span> CaptioningTool</h1>
        </div>
        <nav>
          <ul>
            <li class="current"><a href="webpage.html">Home</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div id="reg">
	<form action="/predict" method="POST" enctype="multipart/form-data">
    		<h1>Upload Image :</h1>
    		<fieldset>
      		<legend>Select Image:</legend>
      		<label for="text">Upload File:</label>
          <!--<input type="file" id="img" name="image"  required>-->
          <input type="file" accept="image/*" name="image" onchange="loadFile(event)" required>
          <img id="output" width="80%" height="80%"/>
          <script>
            var loadFile = function(event) {
            var output = document.getElementById('output');
            output.src = URL.createObjectURL(event.target.files[0]);
            };
          </script>
    		</fieldset><br>
    		<button type="submit" name="submit" id="add">Find caption!!</button>
  	</form><br>
  </div>
 </body>
</html>
